# Laravel
backend/vendor/
backend/node_modules/
backend/.env
backend/.env.production
backend/.env.backup
backend/database/database.sqlite
backend/.phpunit.result.cache
backend/storage/pail
backend/public/build
backend/storage/*.key
backend/auth.json
backend/.phpactor.json

# Next.js
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.env.local
frontend/.env.development.local
frontend/.env.production.local
frontend/.env.test.local

# General
.DS_Store
*.log
npm-debug.log*
yarn-error.log

# IDE
.vscode/
.idea/
*.swp